
body{

    background-color: #2959f7;
    background: linear-gradient(to left, #0016df, #08bef5);
    height: 100vh;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post {
    border: none;
    margin: 10px;
    padding: 10px;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upvote, .downvote {
    background-color: #00c853;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.score {
    font-size: 24px;
    margin: 5px 0;
}

.post-content {
    margin-left: 20px;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
