<div class="navbar">
    <img class="logo" src="/img/logo.png" >
    <ul>
        <li><a href="/chat">Chat</a></li>
        <li><a href="#">Foro</a></li>
        <li><a href="#">Alumnos</a></li>
        <li><a href="#">Egresados</a></li>
    </ul>
</div>