<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/styles/landing.css">
    <script src="//code.tidio.co/ynfcxx7pil0vhqb9bzd0zbcyqpbmxrek.js" async></script>
    <script src="/scripts/anti-logo-aktion.js"></script>
</head>

<body>
    <div class="banner">

        <div class="navbar">
            <img class="logo" src="/img/logo.png">
            <ul>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/posts">Foro</a></li>
                <li><a href="/profile/all">Perfiles</a></li>
                {{!-- <li><a href="#">Alumnos</a></li> --}}
                {{!-- <li><a href="/egresados">Egresados</a></li> --}}
            </ul>
        </div>
        <div class="content">
            <h1>TECMUNITY</h1>
            <p> </p>
            <div>
                <button type="button" onclick="location.href='/auth';">Iniciar</button>
            </div>
        </div>
    </div>

</body>

</html>